/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #555; /* Añadido: Línea divisoria entre opciones */
}

nav a:last-child {
    border-right: none; /* Añadido: No aplicar línea a la última opción */
}

.container {
    background-color: #f0f0f0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
