<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Gestión de Horarios</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('descargar') }}">Informes</a></li>
            <li><a href="{{ url_for('horarios') }}">Horarios</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Horarios {{ codigo_bib }}</h1>
        <h2>
            En este apartado puede modificar el horario de funcionamiento para cada biblioteca, si no existe una fecha especifica
            los días de semana se escogerá el horario del día 2000-01-01, si es fin de semana se escogerá el horario del día 1999-01-01.
            Para indicar que el sistema no se encienda un día seleccionar Hora inicio y final como 00:00.
        </h2>

        <form method="post" action="{{ url_for('agregar_horario', codigo_bib=codigo_bib) }}">
            <label for="select_codigo_bib">Selecciona un código_bib:</label>
            <select id="select_codigo_bib" name="codigo_bib">
                <option value="ANT" {% if codigo_bib == 'ANT' %} selected {% endif %}>ANT</option>
                <option value="CIM" {% if codigo_bib == 'CIM' %} selected {% endif %}>CIM</option>
                <option value="ALF" {% if codigo_bib == 'ALF' %} selected {% endif %}>ALF</option>
            </select>
            <label for="fecha_nueva">Fecha:</label>
            <input type="date" id="fecha_nueva" name="fecha_nueva" value="{{ request.form.fecha_nueva }}" required>
            <br>
            <label for="hora_inicio_nueva">Hora Inicio:</label>
            <input type="time" id="hora_inicio_nueva" name="hora_inicio_nueva" value="{{ request.form.hora_inicio_nueva }}" required>
            <br>
            <label for="hora_final_nueva">Hora Final:</label>
            <input type="time" id="hora_final_nueva" name="hora_final_nueva" value="{{ request.form.hora_final_nueva }}" required>
            <br>
            <label for="opcion">Opcion:</label>
            <select id="opcion" name="opcion">
                <option value="Añadir" {% if request.form.opcion == 'Añadir' %} selected {% endif %}>Añadir</option>
                <option value="Eliminar" {% if request.form.opcion == 'Eliminar' %} selected {% endif %}>Eliminar</option>
            </select>
            <input type="submit" value="Agregar Horario">
        </form>
        
        <!-- Formulario para seleccionar código_bib y mostrar horarios -->
        <form method="post" action="{{ url_for('horarios') }}">
            <label for="select_codigo_bib_mostrar">Selecciona un código_bib:</label>
            <select id="select_codigo_bib_mostrar" name="codigo_bib">
                <option value="ANT">ANT</option>
                <option value="CIM">CIM</option>
                <option value="ALF">ALF</option>
            </select>
            <input type="submit" value="Mostrar Horarios">
        </form>
        
            
            <!-- Verifica si hay horarios para mostrar -->
            {% if horarios %}
                <ul>
                    {% for horario in horarios %}
                        <li>{{ horario[0] }} - Inicio: {{ horario[1] }}, Final: {{ horario[2] }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay horarios disponibles.</p>
            {% endif %}
        </div>
</body>
</html>
